main{
    display: flex;
    align-items: center;
    justify-content: center;
    height:70vh;
}
.caja{
    margin: 0 auto;
    width: 50%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
